@import url("https://fonts.googleapis.com/css2?family=Inter&family=Karla&family=Mulish&display=swap");

/* to remove default css setting */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pagewrap {
  display: flex;
  /*vertically stack children*/
  flex-direction: column;
  /* expand to take full height of page */
  /* min-height overrides both height & max-height */
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0px;
  font-family: karla;
}

:root {
  --primary: #efcb3c;
}


nav {
  background-color: var(--primary);
  text-align: center;
  font-size: x-large;
  padding: 1rem;
}

main {
  flex-grow: 1;
  padding: 1rem;
}

textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  min-height: 20vh;
  margin-top: 2rem;
  font-size: large;
  font-family: inherit;
  border: 2px solid black;
  padding: 1rem;
}

button {
  background-color: var(--primary);
  border: none;
  margin: 1rem 0rem;
  padding: 1rem;
  font-family: karla;
  font-size: large;
}

#output {
  box-sizing: border-box;
  width: 100%;
  min-height: 20vh;
  max-height: 30vh;
  padding: 1rem;
  border: 2px solid black;
}

footer {
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background-color: var(--primary);
  text-align: center;
}

footer p {
  max-width: var(--width-break);
  margin: auto;
}