@import url("https://fonts.googleapis.com/css2?family=Inter&family=Karla&family=Mulish&display=swap");

/* to remove default css setting */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pagewrap {
  display: flex;
  /*vertically stack children*/
  flex-direction: column;
  /* expand to take full height of page */
  /* min-height overrides both height & max-height */
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0px;
  font-family: karla;
}

:root {
  --primary: #efcb3c;
}


nav {
  background-color: var(--primary);
  text-align: center;
  font-size: x-large;
  padding: 1rem;
}

main {
  flex-grow: 1;
  padding: 1rem;
}

textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  min-height: 20vh;
  margin-top: 2rem;
  font-size: large;
  font-family: inherit;
  border: 2px solid black;
  padding: 1rem;
}

button {
  display: flex;
  background-color: var(--primary);
  border: none;
  margin: 1rem 0rem;
  padding: 1rem;
  font-family: karla;
  font-size: large;
  cursor: pointer;
}

.btn-image {
  width: 25px;
  margin-right: 15px;
}


#output {
  box-sizing: border-box;
  width: 100%;
  min-height: 20vh;
  max-height: 30vh;
  padding: 1rem;
  border: 2px solid black;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background-color: var(--primary);
  text-align: center;
  overflow: hidden;
}

footer p {
  max-width: var(--width-break);
  margin: auto;
}


/* minion img style code */

.minion-img {
  transform: scale(1);
  animation: minion-animation 5s infinite;
}

.minion-img-2 , .minion-img-3 {
  position: absolute;
  transform: scale(2) rotate(45deg);
  animation: minion-animation-2 3s infinite;
}

.minion-img-3 {
  transform: scale(2) rotate(-45deg);
  animation: minion-animation-3 3s infinite;
}

@keyframes minion-animation-2 {
  0%{
    bottom: -10%;
    left: -5%;
  }
  50%{
    bottom: 5%;
    left: 0;
  }
  100%{
    bottom: -10%;
    left: -5%;
  }
}

@keyframes minion-animation-3 {
  0%{
    bottom: -10%;
    right: -5%;
  }
  50%{
    bottom: 5%;
    right: 0;
  }
  100%{
    bottom: -10%;
    right: -5%;
  }
}


@keyframes minion-animation {
  0%{
    transform:rotate(0);
  }
  50%{
    transform:rotate(360deg);
  }
  100%{
    transform:rotate(0);
  }
}
